h1{
    color:orange;
    letter-spacing: -1px;
    text-transform: capitalize;
    width: 650px;
    text-shadow: 1px 1px black;
}
p{
    text-indent: 50px;
    width: 650px;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
}